*{
    outline: none;
}
body{
    background: #8e9eab;
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
    background: linear-gradient(to right, #eef2f3, #8e9eab);
    color: #4a4a4a !important;
    font-family: 'Ubuntu',sans-serif !important;
    margin: 0 0 100px 0;
}
.flex{
    height: 98%;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.slider-button{
    padding: 10px 15px;
    color: #ef4723;
    font-size: 50px;
    background: none;
    border: 0;
    transition: 0.5s cubic;
    margin: 0 30px;
    cursor: pointer;
}
.slider-button:hover{
    color: #fff;
}
.slider-container{
    width: 500px;
    margin: 50px auto;
    overflow: hidden;
}
.slider-container .slider{
    display: flex;
    flex-direction: row;
    width: 500px;
    transition: 0.5s;
}
.main-slider{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 80px 0 20px;
}
.main-slider .btn{
    padding: 10px 15px;
    color: #332d2a;
    font-size: 50px;
    background: none;
    border: 0;
    transition: 0.5s cubic;
    margin: 0 30px;
}
.main-slider .btn .fas:hover{
    color: #fff;
    cursor: pointer;
}
.main-slider .center{
    display: inline-block;
}
.main-slider .center img{
    max-width: 500px;
}
.main-slider .right, .left{
    display: inline-block;
}
.btn-groups{
    display: flex;
    justify-content: center;
}
.slide-nav {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.slide-nav ul {
    margin: 0;
    padding: 0;
}
.slide-nav li {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 20px;
    background: #332d2a;
    cursor: pointer;
    margin-left: .5em;
    box-shadow: 0 4px 12px 0 #908e8e;
    transition: linear 0.2s;
}
.slide-nav li.current {
    background: #ff0000;
    box-shadow: 0 2px 10px 0 #737373;
    width: 12px;
    height: 12px;
}
.button{
    background: #332d2a;
    color: #fff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    display: block;
    margin: 30px auto 0;
    padding: 4px 30px;
    border: 0;
    cursor: pointer;
    box-shadow: 0 0 10px 0 #909090;
}
